# Electron 下载镜像（国内加速，可按需关闭）
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
# better-sqlite3 编译相关
public-hoist-pattern[]=*better-sqlite3*
# 严格 peer dep
auto-install-peers=true
